.about-wrap {
    height: 100%
}

.about {
    height: 100%;
    overflow: auto
}

.about .about-wrap-content {
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.about .about-wrap-content .all-logo-wrap {
    min-height: 203px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden
}

.about .about-wrap-content .version-or-video {
    display: flex;
    align-items: center;
    flex-direction: column
}

.about .about-wrap-content .version-or-video h5 {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, .85)
}

.about .about-wrap-content .version-or-video .btn-wrapper {
    margin-top: 10px
}

.about .about-wrap-content .version-or-video .btn-wrapper .color-button {
    font-size: .14rem;
    color: rgba(0, 0, 0, .85);
    font-weight: 500
}

.about .about-wrap-content .version-or-video .btn-wrapper .icon-svg {
    width: .16rem;
    height: .16rem
}

.about .about-wrap-content .version-info-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%
}

.about .about-wrap-content .version-info-content h1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: rgba(0, 0, 0, .85)
}

.about .about-wrap-content .version-info-content .version-info {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, .55);
    text-align: center
}

.about .about-wrap-content .version-info-content .info-button {
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #007bff
}

.about .about-wrap-content .btn-wrapper .color-button {
    font-size: .14rem;
    color: rgba(0, 0, 0, .85);
    font-weight: 500
}

.about .about-wrap-content .btn-wrapper .icon-svg {
    width: .16rem;
    height: .16rem
}

.big-wrap .about-wrap-content .version-or-video .btn-wrapper {
    margin-top: 4px
}

.big-wrap .about-wrap-content .version-or-video .btn-wrapper .color-button {
    min-width: .4rem;
    min-height: .14rem;
    padding: 0 10px;
    text-align: center;
    color: rgba(0, 0, 0, .55);
    margin-right: .04rem;
    margin-bottom: .04rem;
    font-weight: 500;
    border-width: .005rem
}

.big-wrap .about-wrap-content .version-or-video .btn-wrapper .color-button .color-button__content--small {
    font-size: .07rem;
    line-height: .14rem
}

.big-wrap .about-wrap-content .version-or-video .btn-wrapper .video-button {
    min-width: .505rem;
    min-height: .14rem
}

.big-wrap .about-wrap-content .version-or-video .btn-wrapper .icon-svg {
    width: .08rem;
    height: .08rem
}

.load-fail-wrap {
    color: rgba(0, 0, 0, .3);
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column
}

.load-fail-wrap #load_fail {
    width: 134px
}

.load-fail-wrap h2 {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    text-align: center
}

.load-fail-wrap h3 {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center
}

.color-dark-mode /deep/ .color-button {
    border-color: #4d4d4d
}