@font-face {
  font-family: "OPPOSans2.01";
  src: url("OPPOSans2.01.eot"),
    url("OPPOSans2.01.woff2") format("woff2"),
    url("OPPOSans2.01.woff") format("woff"),
    url("OPPOSans2.01.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

body,
dl,
dd,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
input,
textarea,
p,
hr,
thead,
tbody,
tfoot,
th,
td {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}


a {
  text-decoration: none;
}

html {
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  line-height: 1.5;
  font-size: 14px;
}

body,
button,
input,
select,
textarea {
  font-family: "OPPOSans2.01";
}

i,
em {
  font-style: normal;
}


img {
  border: 0 none;
  width: auto\9;
  max-width: 100%;
  vertical-align: top;
  height: auto;
}

*:focus {
  outline: none
}

video::-webkit-media-controls-fullscreen-button {
  display: none !important;
}

video::-webkit-media-controls-mute-button {
  display: none !important;
}

video::-internal-media-controls-overflow-button {
  display: none !important;
}

.trump-button[sub-component="fullscreen_btn"],
.trump-button[now="fullscreen"] {
  display: none !important;
}

.trump-button[sub-component="setting"] {
  display: none !important;
}


body {
  background: #fff;
  color: #000;
  padding-bottom: 4rem
}

.plr72 {
  padding: 0 .72rem;
}

#logoVideo {
  width: 100% !important;
  height: 7.74rem;
  background: none;
  transform: scaleX(0.94);
  -webkit-transform: scaleX(0.94);
  -moz-transform: scaleX(0.94);
}

#logoVideo .vjs-tech {
  width: 100% !important;
}

#logoVideo .vjs-big-play-button {
  display: none;
}

.logo {
  padding-top: 1.16rem;
  width: 100% !important;

  overflow: hidden;
  margin: 0 auto;
  background: none;
}

.logo img {
  width: 100%;
}

.logo .logo-video-dimensions {
  width: 100%;
}

.title {
  text-align: center;
  padding: 0 0 .6rem;
}

.title h1 {
  font-size: .6rem;
  font-weight: 600;
  letter-spacing: .0055rem;
  color: #333333;
}

.title h2 {
  opacity: .55;
  font-size: .36rem;
  padding: .12rem 0 .09rem;
  font-weight: 550;
}

.title h3 {
  opacity: .3;
  font-size: .30rem;
  font-weight: 550;
}

.video {
  width: 100% !important;
  margin: 0 auto .6rem !important;
  border-radius: 10px !important;
  padding: 0 .72rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  webkit-box-sizing: border-box;
}

.video-js,
.vjs-poster {
  background: none !important;
}

.my-video-dimensions {
  width: 100% !important;
  height: 100% !important;
  border-radius: 10px !important;
}

.video-js .vjs-big-play-button {
  font-size: .36rem;
  line-height: 1.2rem;
  height: 1.26rem;
  width: 1.5rem;
  -webkit-border-radius: .29rem;
  -moz-border-radius: .29rem;
  border-radius: .29rem;
  background-color: #333;
  background-color: rgba(51, 51, 51, 0.80);
  border-width: 0.15rem;
  margin-left: -.75rem;
  margin-top: -.63rem;
  border: none;
  color: rgba(255, 255, 255, 0.9);
}

/* 中间的播放箭头 */
.vjs-big-play-button .vjs-icon-placeholder {
  font-size: 1.63em;
}

/* 加载圆圈 */
.vjs-loading-spinner {
  font-size: 2.5em;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  margin-top: -1em;
  margin-left: -1.5em;
}

.video-js.vjs-playing .vjs-tech {
  pointer-events: auto;
  border-radius: 10px
}

.vjs-paused .vjs-big-play-button,
.vjs-paused.vjs-has-started .vjs-big-play-button {
  display: block;
}

.vjs-control-bar {
  border-radius: 0 0 10px 10px;
}

.video-js .vjs-control-bar {
  width: 100%
}

.video-js .vjs-tech {
  object-fit: cover;
}

#my-video {
  width: 100%;
  max-width: 100%;
  height: 0;
  padding-top: 56.25%;
  display: none;

}

.pt {
  /* background: url(../img/bg.png) 0 0 no-repeat;
  background-size: 100% auto; */
  padding-top: 3.7rem;
}

/* .ht-night-app-wrap .pt {
  opacity: .2 !important;
} */

.ht-night-app-wrap .video {
  position: relative;
  z-index: 99999;
}

.bg {
  margin-top: -2rem;
}

.bg .big-title {
  font-size: .54rem;
  font-weight: 700;
  margin-bottom: .43rem;
}

.bg .small-title {
  font-size: .42rem;
  font-weight: 700;
  margin-bottom: .48rem;
}

.bg p {
  opacity: 0.55;
  font-size: .36rem;
  line-height: .6rem;
  margin-bottom: .9rem;
  letter-spacing: .0055rem;
}

.con dt {
  margin-bottom: .18rem;
  font-weight: 700;
  font-size: .36rem;
  letter-spacing: .0055rem;
}

.con dd {
  opacity: .55;
  font-size: .36rem;
  margin-bottom: .48rem;
  line-height: .6rem;
  letter-spacing: .0055rem;
  white-space: pre-line
}

.con dd:last-child {
  margin-bottom: .9rem;
}

.more {
  font-size: .36rem;
  line-height: .6rem;
}

.more div {
  opacity: 0.55;
}

.more a {
  color: #007AFF;
  border-bottom: .01rem solid #007AFF;
}

.note {
  padding: .9rem 0 1.5rem;
}

.note h4,
.operator h4 {
  font-size: .3rem;
  margin-bottom: .24rem;
  letter-spacing: 0.005rem;
  font-weight: 700;
}

/* .note h4{opacity: .75;} */

.note ul li {
  font-size: .3rem;
  opacity: .5;
  line-height: .48rem;
  margin-bottom: .2rem;
}

.operator {
  font-size: .3rem;
}

.operator dt {
  opacity: .5;
  margin-bottom: .3rem;
  font-weight: 700;
}

.operator dd,
.operator div {
  line-height: .48rem;
  margin-bottom: .3rem;
  opacity: .5;
}

.operator dd:last-child {
  margin-bottom: 1.1rem;
}

/*暗色模式*/
.black .title {
  text-align: center;
  color: #ffffff;
}

.black .bg {
  color: #fff;
}

.black .pt {
  opacity: .2;
}